body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.quiz-container {
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

.question {
    margin-bottom: 20px;
}

.answers button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answers button:hover {
    background-color: #555;
}

.answers button:active {
    background-color: #222;
}

#feedback {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    color: green;
}

.score {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

#next-btn {
    display: none;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#next-btn:hover {
    background-color: #555;
}
